<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meng.springcloud.dao.ProjectDao">
    <select id="findALlProject" resultType="Project">
        SELECT * FROM project WHERE 1 = 1
    </select>
    <select id="findALlProjectByParentId" resultType="Project">
        SELECT * FROM project WHERE parentId = #{id}
    </select>
    <select id="findProjectById" resultType="Project">
        SELECT * FROM project WHERE id = #{id}
    </select>
</mapper>